@tailwind base;

@tailwind components;

button:focus {
  outline: none;
}

.textarea {
  overflow: hidden;
  min-height: 100px;
  resize: none;
}

.dim {
  filter: brightness(50%);
}

.tab {
  @apply inline-block py-2 px-4 text-gray-400 font-semibold;
}

.selected-tab {
  @apply border-b bg-gray-800 text-teal-400;
}

@tailwind utilities;



